asgiref==3.12.1
dj-database-url==3.1.2
Django==5.2.16
django-ckeditor==6.7.3
django-js-asset==4.0.1
django-taggit==6.1.0
gunicorn==26.0.0
packaging==26.2
pillow==12.3.0
psycopg2-binary==2.9.12
sqlparse==0.5.5
typing_extensions==4.16.0
whitenoise==6.12.0
